<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>

    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://ec2-54-225-101-60.compute-1.amazonaws.com/d62u800ao4h9d7?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
    <property name="connection.username">username</property>
    <property name="connection.password">****</property>

    <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

    <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
    <mapping resource="Users.hbm.xml" />
    
  </session-factory>

</hibernate-configuration>